/*
    vars
*/
/***********************************
 *  1. colors
 ***********************************/
.color-intl-orange {
  color: #FF4F00;
}

.color-eng-orange {
  color: #BA160C;
}

.color-vga-magenta {
  color: #AA00AA;
}

.color-vga-red {
  color: #ff0000;
}

.color-grey {
  color: hsl(0, 0%, 40%);
}

/***********************************
 *  2. fonts
 ***********************************/
/***********************************
 *  3. dimensions
 ***********************************/
/* Fonts */
@font-face {
  font-family: "GeistMonoVF";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GeistMonoVF.woff") format("woff");
}
@font-face {
  font-family: "GeistMonoVF";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/GeistMonoVF.woff") format("woff");
}
@font-face {
  font-family: "GeistMonoVF";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/GeistMonoVF.woff") format("woff");
}
@font-face {
  font-family: "GeistMonoVF";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/GeistMonoVF.woff") format("woff");
}
/**
 * code by https://github.com/mrcoles/markdown-css
 * with some modifications
 */
/*
    vars
*/
/***********************************
 *  1. colors
 ***********************************/
.color-intl-orange {
  color: #FF4F00;
}

.color-eng-orange {
  color: #BA160C;
}

.color-vga-magenta {
  color: #AA00AA;
}

.color-vga-red {
  color: #ff0000;
}

.color-grey {
  color: hsl(0, 0%, 40%);
}

/***********************************
 *  2. fonts
 ***********************************/
/***********************************
 *  3. dimensions
 ***********************************/
.md {
  word-wrap: break-word;
}

.md,
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md code,
.md blockquote,
.md em,
.md strong,
.md code {
  font-size: 12pt;
  font-style: normal;
  font-family: "GeistMonoVF", monospace, serif;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md code,
.md blockquote,
.md ol,
.md ul,
.md dl,
.md li,
.md p,
.md section,
.md header,
.md footer {
  float: none;
  margin: 0;
  padding: 0;
}

.md h1,
.md p,
.md ul,
.md dl,
.md ol,
.md blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.md h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 1.5rem 0 3rem;
  margin: 0;
  overflow: hidden;
  text-transform: uppercase;
}

.md h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 1.2rem;
  left: 0;
}

.md h1 + * {
  margin-top: 0;
}

.md h2 {
  text-transform: uppercase;
}

.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  position: relative;
  margin-bottom: 1.5rem;
}
.md h2 > a:before,
.md h3 > a:before,
.md h4 > a:before,
.md h5 > a:before,
.md h6 > a:before {
  color: hsl(0, 0%, 40%);
  border-bottom: none;
}
@media screen and (min-width: 92ch) {
  .md h2 > a:before,
  .md h3 > a:before,
  .md h4 > a:before,
  .md h5 > a:before,
  .md h6 > a:before {
    position: absolute;
    transform: translateX(-100%);
    padding-right: 0.6rem;
  }
}
.md h2 > a:hover::before,
.md h3 > a:hover::before,
.md h4 > a:hover::before,
.md h5 > a:hover::before,
.md h6 > a:hover::before {
  color: white;
  background-color: #AA00AA;
  border-bottom: none;
}

.md h1,
.md h2 {
  line-height: 1.5rem;
  font-weight: bold;
}

.md h2 > a:before {
  content: "##";
}

.md h3 > a:before {
  content: "###";
}

.md h4 > a:before {
  content: "####";
}

.md h5 > a:before {
  content: "#####";
}

.md h6 > a:before {
  content: "######";
}

.md li {
  position: relative;
  display: block;
  padding-left: 2ch;
  margin-bottom: 1ch;
}

.md li:before {
  position: absolute;
  top: 0;
  left: 0;
}

.md ul > li:before {
  content: "*";
  color: hsl(0, 0%, 75%);
}

.md ol {
  counter-reset: ol;
}
.md ol > li:before {
  content: counter(ol) ".";
  counter-increment: ol;
  color: hsl(0, 0%, 40%);
}

.md iframe {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.md blockquote {
  position: relative;
  padding-left: 2ch;
  overflow: hidden;
  color: hsl(0, 0%, 40%);
}

.md blockquote:after {
  content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5rem;
  color: hsl(0, 0%, 75%);
}

.md em {
  font-style: italic;
}
.md em:before, .md em:after {
  content: "*";
  display: inline;
}

.md strong {
  font-weight: bold;
}

.md pre code:before,
.md pre code:after {
  content: "";
}

.md code {
  color: hsl(0, 0%, 40%);
}

.md a code {
  color: #AA00AA;
}

.md a code:hover {
  color: white;
  background-color: #AA00AA;
}

.md code:before,
.md code:after {
  content: "`";
  display: inline;
}

.md hr {
  position: relative;
  height: 1.5rem;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 1.5rem;
}

.md hr:after {
  content: "* * *";
  text-align: center;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  word-wrap: break-word;
  color: hsl(0, 0%, 75%);
}

@-moz-document url-prefix() {
  .md h1 {
    display: block;
  }
}
.md-ones ol > li:after {
  content: "1.";
}

/*
 * markdown-ier footnotes
 */
.md a.footnote {
  color: #ff0000;
  border-bottom: none;
}
.md a.footnote:before {
  content: "[^";
  color: #ff0000;
}
.md a.footnote:after {
  content: "]";
  color: #ff0000;
}
.md a.footnote:hover {
  background-color: #ff0000;
  color: white;
}
.md a.footnote:hover::before, .md a.footnote:hover::after {
  background-color: #ff0000;
  color: white;
}

.md a.reversefootnote {
  color: #ff0000;
  border-bottom: #ff0000;
}
.md a.reversefootnote:hover {
  background-color: #ff0000;
  color: white;
}
.md a.reversefootnote:hover::before, .md a.reversefootnote:hover::after {
  background-color: #ff0000;
  color: white;
}

.md div.footnotes::before {
  content: "* * *";
  text-align: center;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  word-wrap: break-word;
  color: hsl(0, 0%, 75%);
}
.md div.footnotes ol > li {
  padding-left: 6ch;
}
.md div.footnotes ol > li:before {
  content: "[^" counter(ol) "]:";
  counter-increment: ol;
  color: hsl(0, 0%, 40%);
}

.navbar {
  display: flex;
}

.navbar a {
  margin-right: 8px;
  margin-left: 8px;
}

.navbar #leftmost {
  margin-left: 0;
}

/*
    vars
*/
/***********************************
 *  1. colors
 ***********************************/
.color-intl-orange {
  color: #FF4F00;
}

.color-eng-orange {
  color: #BA160C;
}

.color-vga-magenta {
  color: #AA00AA;
}

.color-vga-red {
  color: #ff0000;
}

.color-grey {
  color: hsl(0, 0%, 40%);
}

/***********************************
 *  2. fonts
 ***********************************/
/***********************************
 *  3. dimensions
 ***********************************/
#year {
  color: hsl(0, 0%, 75%);
}

#horizontal-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

.aside {
  text-align: center;
}

/* Common vars */
* {
  text-rendering: geometricPrecision;
}

body {
  background-color: white;
  font: "GeistMonoVF", monospace, serif;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 .title,
h2 .title {
  letter-spacing: 0.1px;
  text-align: center;
  outline: none;
  border: none;
}
h1 .halftitle,
h2 .halftitle {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: right;
}
h1 .blog-title,
h2 .blog-title {
  text-align: left;
}

div.picheader,
div.textheader {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

div.halftitle {
  height: 124px;
  width: 430px;
  float: right;
  margin: auto;
}

.content p {
  clear: both;
  padding: 0;
  text-align: left;
}

.content {
  line-height: 1.5rem;
}

a {
  color: #AA00AA;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  background-color: #AA00AA;
  color: white;
}

.content a {
  border-bottom: 1px solid #AA00AA;
}

img.titleimage {
  float: left;
  border: 2px solid black;
  border-radius: 8px;
}

div.clear {
  clear: both;
}

div.content {
  clear: both;
}

p.sidenote ::before {
  content: "::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::";
}

/*** site ***/
.site {
  max-width: 82ch;
  margin: 2ch auto;
  padding: 1ch;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: "GeistMonoVF", monospace, serif !important;
}

.gist .markdown-body {
  padding: 1rem;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: 0.8rem !important;
  line-height: 1.5rem;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 4px 4px 1rem;
  border-radius: 5px;
}

Image {
  display: block;
  margin-left: 4px;
  margin-right: 4px;
}

.page,
.post {
  padding-bottom: 2rem;
}

.page-title,
.post-title,
.subtitle {
  margin-top: 0;
}

.post-title,
.subtitle {
  margin-bottom: 0;
}
.post-title:before,
.subtitle:before {
  content: none;
}

.subtitle {
  color: hsl(0, 0%, 40%);
  font-weight: 400;
}

header.post {
  padding-bottom: 2rem;
}

/* Meta data line below post title */
.post-date {
  display: block;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  float: left;
  color: hsl(0, 0%, 40%);
}

/*# sourceMappingURL=main.css.map */
