#year {
  color: $light-gray
}

#horizontal-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}
